// Fonts
$font-stack: "Baloo 2", cursive;

// Colors
// $background-color: linear-gradient(#3294e4, #8fb8fd);
$background-color: #3294e4;
$primary-color: #fff;
$secondary-color: #fcc152;
$dark-blue: #113a6f;
$brown: #7c5914;
$light-grey: #b7c4d4;
